15/12/2020 - Conditional, Control flow, and looping

In [ ]:
a = 5

In [ ]:
if a==10:
    print ('a adalah 10')
else:
    print('a bukan 10')

In [ ]:
## logic
## print nama diri sendiri, apabila umur bisa dibagi 2, kemudian apabila tidak bisa dibagi dua , maka check
## dulu panjang nama lebih dari 3, maka print nama panjang, kalau kurang dari 3 print nama pendek

In [ ]:
umur = 24
a = 'Fitria Puspita Sari'
b = 'Fitri'

if umur%2 == 0:
    if len (a)> 3:
        print (a)
    else:
        print (b)
else:
    print ('Umurmu tidak habis dibagi 2')

Iteration

In [ ]:
a = 0
while a < 10:
    a = a +1 
    print (a)

In [ ]:
##logic print angka yang terus bertambah sebanyak 1, 
##sampai total dari nama panjang kita

In [ ]:
full_name = 'Fitria Puspita Sari'

a = 0
while a < len(full_name):
    a = a+1
    print (a)

In [ ]:
list_ukuran_baju = [10,20,25,30]
for i in list_ukuran_baju:
    print (i)

In [ ]:
for i in range (len(list_ukuran_baju)):
    print(list_ukuran_baju[i])

In [ ]:
#case: apabila ad 2 list, print data di dalam list tersebut apabila data 
## di kedua list adalah sama, apabila berbeda 
## maka akan melakukan print nama kita sebanyak angka di dalam data yang di list pertama

In [ ]:
list_a = [1,0,3,4]
list_b = [5,2,7,8]
nama = 'Fitri'

for i in range (len(list_a)):
    if list_a[i] == list_b[i]:
        print(list_a[i])
    else:
        x = 0
        while x <=list_a[i]:
            print (nama)
            x = x+1

In [ ]:
def fungsi_print_nama(umur,a,b):
    if umur%2 == 0:
        if len (a)> 3:
            print (a)
        else:
            print (b)
    else:
        print ('Umurmu tidak habis dibagi 2')

In [ ]:
umur = 23
a = 'Fitria Puspita Sari'
b = 'Fitri'

fungsi_print_nama(umur,a,b)

16/12/2020 Function, module, and package

In [ ]:
def print_str(data):
    print(data)

In [ ]:
print_str('a')
print_str('b')

In [ ]:
my_list = [10,20,30]
coba = 'a'
my_list.append(coba)
print(my_list)

case: kita membutuhkan fungsi untuk menghitung jumlah dari list A, kemudian jumlah tersebut ditambahkan kedalam umur kita

In [ ]:
list_A =[10,20,30]
umur=29
def coba(list_A,umur):
    for i in range (len(list_A)):
        umur = list_A[i]+umur
#    print (umur)
    return umur

#coba(list_A,umur)
z = coba(list_A,umur)
print(z)

case: kita membuat 2 fungsi, dmana fungsi pertama adalah untuk mnegecek apakah angka itu dapat dibagi suatu angka, hasil dari fungsi tersebut adalah true atau false

fungsi yang kedua adalah apabila hasil dari fungsi pertama itu adalah true, maka kita akan mempangkatkan dengan pangkat yang kita inginkan

In [ ]:
def tes(angka,pembagi,pangkat):
    if angka%pembagi == 0:
        angka = angka**pangkat
        print ("Hasilnya adalah",angka)
    else:
        print ("Angkamu tidak bisa dibagi")
#    return angka

tes(16,4,4)

module

In [ ]:
import sys

In [ ]:
pip install mod

In [ ]:
import mod

case: buat module untuk 
menghitung number of data yang ada dalam suatu list 
kemudian jumlah data di list tersebut 
dikalikan dengan masing-masing data di dalam list, yang kemudian angka-angka tersebut kita jumlah

a = [10,30,15]
bila setelah dikalikan jadinya 20+60 = 80

In [ ]:
import mod

In [ ]:
from coba_fungsi import coba as lat3
a = lat3([10,20,30])
print (a)

In [ ]:
from coba_fungsi import hitung_data_di_list,kalikan_angka_di_list,jumlah_data_di_list

list_yang_mau_dihitung = [10,20,30]

n = hitung_data_di_list(list_yang_mau_dihitung)
list_new=kalikan_angka_di_list(list_yang_mau_dihitung,n)
hasil_akhir = jumlah_data_di_list(list_new)
print(hasil_akhir)

case: buat skrip python untuk mengkalikan angka yang kita input dikalikan dengan 10

17/12/2020 Numpy

In [ ]:
import numpy as np

In [ ]:
#List and array
list = [1,2,3]
arr = np.array([1,2,3,4]) # it has dimmension
arr_2 = np.array([[1,2,3,4],[2,3,4,5]])

print (list)
print (arr)
print (arr_2)

print (arr.shape)
print (arr_2.shape)

case: buat array yang 2 dimensi dengan dimensi pertama adalah nama kita, dimensi kedua adalah nama kedua kita dan nilainya dimulai dari 0 dengan penambahan sebanyak nama ketiga kita

fitria puspita sari
(6, 7)
([[0,4,8,16,24,32,36],[],[],[], dst]

In [ ]:
import numpy as np

first = len('fitria') 
second = len('puspita') 
third = len('sari') 
nama = np.zeros((first,second))
#print(nama.shape)

#First logic

#for i in range (first):
#    print (nama[i])
#    j = 0 #ngelooping
#    for k in range(0,third*second,third): #ini ngisi angka
#       print (nama)
#        nama[i][j] = np.array([k])
#        j = j+1

#Second logic 

for i in range (first): 
    #print (i)
    for j in range (second): 
       # print (j)
        nama[i] = np.arange(0,third*second,third) #awal, akhir, rentang
print (nama)

#i, j, k ==> [i],[j],[k]

case nya ada 3 array, isinya bebas, dimesninya bebas, tiga array tersebut kita buat jadi 2 array yang isinya
array pertama kombinasi antara array 1, 2 dimana itu dimensinya harus sama dengan dimensi yang array 1
array yang kedua kombinasi antara array 2,3 dimana dimensi keduanya harus sama dengan array 2

arr1 = [[1,2,3,4],[5,6,7,8]] --> 2x4
arr2 = [[9,10],[11,12],[13,14]] --> 3x2
arr3 = [[15,16,17,18]] --> 1x4

arr5 --> dua dimensi [[1,23,4,9,10,11,12],[5,6,7,8,11,12,13,14]]
arr6 [[9,10,15,16],[11,12,17,18],[13,14,17,18]]

In [ ]:
#TBH Saya tidak paham dengan case-nya :(, cuman saya kerjakan sepemahaman saya aja lah ya Pak
a = np.zeros((2,4))
b = np.ones((3,2))
c = np.random.random((1,4))

print (a)
print (b)
print (c)

arr1 = np.concatenate((a, b.T), axis=1)
arr2 = np.row_stack((b,c.reshape(2,2)))

print (d)
print (arr1)
print (arr2)
print (arr2.shape)
print (arr2.sum())
print (arr2.sum(axis=0))

arr1 = np.array([2,3]).reshape(2,1)
arr2 = np.array ([[2],[3]]).reshape(1,2)
print (arr1*arr2)

18/12/2020 Pandas - data frame

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

In [ ]:
len(df)

In [ ]:
df.shape

In [ ]:
df.head()

In [2]:
coba=pd.read_csv('./exams.csv')
print (coba.shape)

(100, 8)

In [6]:
coba

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,some high school,standard,completed,56,65,64
1,male,group B,some high school,standard,none,65,54,54
2,female,group B,associate's degree,standard,completed,81,85,82
3,female,group C,some high school,free/reduced,completed,48,70,70
4,male,group D,some high school,standard,none,78,66,69
...,...,...,...,...,...,...,...,...
95,male,group E,some high school,standard,completed,59,58,54
96,male,group E,some college,standard,completed,66,69,64
97,female,group C,some high school,free/reduced,none,49,59,59
98,male,group C,high school,standard,none,63,55,54
99,female,group B,associate's degree,free/reduced,none,53,63,61

In [ ]:
#Filtering out
coba[coba['math score']>=70].min ()

case: dengan data yang exams, ada berapa pelajar wanita ada berapa pria, kemudian max 
    score dari wanita itu adalah berapa dan pria max scorenya berapa?

In [ ]:
coba[coba['gender']=='female']['gender'].count()

In [10]:
coba[coba['gender']=='male']['gender'].count()

59

In [9]:
a = coba[coba['gender']=='female']['math score'].max()
b = coba[coba['gender']=='male']['math score'].max()
print (a)
print (b)

96
95

In [ ]:
apasik = coba[coba['lunch']!='standard']['reading score'].max()
print (apasik)

In [ ]:
city_expectation = pd.Series([7,9,8],index=['Wageningen','Seoul','Norman'])
city_reality = pd.Series({'Wageningen':9,'Seoul':8,'Norman':'unknown'})

city_expression=pd.DataFrame({'expectation':city_expectation,'reality':city_reality})

city_expression

In [ ]:
city_expectation.axes

case - exam ubah index kelipatan 20
case - indexnya ubah jadi gender, list all column yang tersisa

In [ ]:
coba.index

In [ ]:
coba=coba.set_index('gender')

In [ ]:
coba

case:
berapa jumlah wanita yang memiliki nilai matematika antara 50 - 60 yang juga memiliki ortu sudah lulus kuliah?
berapa jumlah pria yang dia memiliki nilai di bawah nilai minimum wanita, kemudian dijabarkan dia etnisnya di grup apa dan orang tuanya punay edukasi apa?

In [34]:
#nomor 1 
nomor_satu = coba[(coba["gender"]=='female')
                  &(coba['math score']>=50)
                  &(coba['math score']<=60)
                  &(coba['parental level of education']=='associate\'s degree')].count()
print (nomor_satu)

gender                         4
race/ethnicity                 4
parental level of education    4
lunch                          4
test preparation course        4
math score                     4
reading score                  4
writing score                  4
dtype: int64

In [33]:
nomor_dua = coba[(coba["gender"]=='female')
                  &(coba['math score']<=coba[coba['gender']=='female']['math score'].min())
                  &(coba['reading score']<=coba[coba['gender']=='female']['reading score'].min())
                  &(coba['writing score']<=coba[coba['gender']=='female']['writing score'].min())]
print (nomor_dua.count())
print (nomor_dua)

gender                         1
race/ethnicity                 1
parental level of education    1
lunch                          1
test preparation course        1
math score                     1
reading score                  1
writing score                  1
dtype: int64
    gender race/ethnicity parental level of education     lunch  \
72  female        group D           bachelor's degree  standard

   test preparation course  math score  reading score  writing score
72                    none          39             45             48

21/12/2020 Lanjutan Pandas